<p id="notice"><%= notice %></p>

<!-- Search Bar -->

<div class="container">
  <h1>Búsqueda</h1>
    <%= form_tag(search_path, method: :GET) do %>
    <%= text_field_tag :description %>
    <%= submit_tag 'Buscar' %>
  <% end %> <br>

  <!-- End Search Bar -->

  <% @pins.each do |pin| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= pin.description %>


    <%= image_tag(pin.photo, :class => 'img-responsive')%>


        <div class="buttons" style="margin-top:10px; margin-bottom:10px">
          <%= link_to 'Like', likes_path(pin), :class => 'btn'%>
          <%= link_to 'Show', pin, :class => 'btn' %>
          <%= link_to 'Edit', edit_pin_path(pin), :class => 'btn' %>
          <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %>
        </div>
      </div>
    </div>
  <% end %>

  <br>
  <%= link_to 'New Pin', new_pin_path %>
</div>
