<p id="notice"><%= notice %></p>

<!-- Search Bar -->

<div class="container">
  <h1>Búsqueda</h1>
    <%= form_tag(search_path, method: :GET) do %>
    <%= text_field_tag :description %>
    <%= submit_tag 'Buscar' %>
  <% end %> <br>

  <!-- End Search Bar -->

  <% @pins.each do |pin| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <p align="center">
       <%= pin.description %></p>


    <%= image_tag(pin.photo, :class => 'img-responsive')%>


        <div align="center" class="buttons" style="margin-top:10px; margin-bottom:10px">

<% if user_signed_in? %>

      <% if current_user.likes?(pin) %>
      <%= link_to '<i class="glyphicon glyphicon-thumbs-down"></i>'.html_safe, unlikes_path(pin), :class => 'btn'%>

      <%else %>
              <%= link_to '<i class="glyphicon glyphicon-thumbs-up"></i>'.html_safe, likes_path(pin), :class => 'btn'%>
          <% end %>
          <%else %>
          <% end %>


          <%= link_to 'Mostrar', pin, :class => 'btn' %>
          <%= link_to 'Editar', edit_pin_path(pin), :class => 'btn' %>
          <%= link_to 'Borrar', pin, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %>
        </div>
      </div>
    </div>
  <% end %>

  <br>
</div>
