<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @pin.photo %>
  <%= image_tag(@pin.photo, :class => 'img-responsive') %>

</p>

<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= User.find(@pin.user_id).email %>
</p>
<p>
  <strong>Likes:</strong>
  <%= @pin.likers(User).pluck(:email) %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %> | <br>
<%= link_to "Mas pins del mismo usuario", pinsof_path(@pin.user) %> | <br>
